/* ============ BENEFITS STYLES ============ */

.benefits-section {
  letter-spacing: 0.02em;
}

.section-list {
  display: flex;
  gap: 24px;
}

.benefits-section-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.background-svg {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.benefits-section-subtitle,
.benefits-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
